<h1>Aggiungi un nuovo contratto:</h1>



<form method="post" action="{% url 'rent:open_contract_post' %}">
{% csrf_token %}
<label for="id_cliente">Cliente:</label>

<select id='customer'>
   {% for customer in customers_list %}
   
   <option value="{{ customer.id }}">{{ customer.name  }}, {{ customer.surname }} </option>

   {% endfor %}

</select>

<p>

<label for="id_q">Veicolo:</label>
<select id='vehicle'>
   {% for vehicle in vehicles_list %}
   
   <option value="{{ vehicle.id }}">{{ vehicle.name  }} Targa: {{ vehicle.plate}} </option>

   {% endfor %}

</select>




<input type="submit" value="Apri!"/>
</form>
