<h1>Ciao Sabrina,</h1>

<p>Qui puoi iniziare a lavorare con il computer, non sei contenta? Così non hai più scuse... </p>

<p>Dimmi cosa vuoi fare:</p>

<ul>
<a href="{% url 'rent:view_contracts' %}"> Fammi vedere i contratti.</a>
</ul>
<ul>
<a href="{% url 'rent:view_invoices' %}"> Fammi vedere le fatture.</a>
</ul>
<ul>
<a href="{% url 'rent:view_customers' %}"> Fammi vedere i clienti.</a>
</ul>
<ul>
<a href="{% url 'rent:view_vehicles' %}"> Fammi vedere i mezzi.</a>
</ul>
<ul>
<a href="{% url 'rent:open_contract' %}"> Voglio aprire un contratto.</a>
</ul>
<ul>
<a href="{% url 'rent:close_contract' %}"> Voglio chiudere un contratto.</a>
</ul>
